<div class="income-expenses-create main w-100">
    <h1 class="main-info-h1">Создание дохода или расхода</h1>
    <div class="create-block">
        <select class="form-select" id="type-select">
            <option value="income">Доход</option>
            <option value="expense">Расход</option>
        </select>

        <select class="form-select" id="category-select">

        </select>
        <span id="category-select-error" class="error invalid-feedback">Заполните поле</span>

        <input type="number" class="form-control" id="sum" placeholder="Сумма в $...">
        <span id="sum-error" class="error invalid-feedback">Заполните поле</span>

        <input type="date" class="form-control" id="date" placeholder="Дата...">
        <span id="date-error" class="error invalid-feedback">Заполните поле</span>

        <input type="text" class="form-control" id="comment" placeholder="Комментарий...">
        <span id="comment-error" class="error invalid-feedback">Заполните поле</span>

        <div class="page-item-actions d-flex">
            <button type="button" class="btn btn-success" id="saveButton">Создать</button>
            <a href="/income-expenses"><button type="button" class="btn btn-danger">Отмена</button></a>
        </div>
    </div>
</div>
