<div class="overlay">
    <div class="delete-block position-absolute top-50 start-50 translate-middle d-flex flex-column align-items-center text-center">
        <p class="delete-block-text">
            Вы действительно хотите удалить категорию? Связанные доходы будут удалены навсегда.
        </p>
        <div class="delete-block-actions d-flex">
            <button type="button" class="btn btn-success me-3" id="buttonYesE">Да, удалить</button>
            <button type="button" class="btn btn-danger" id="buttonNoE">Не удалять</button>
        </div>
    </div>
</div>
