    <div class="main-info main w-100">
        <h1 class="main-info-h1">Создание категории доходов</h1>
        <div class="create-block">
            <input type="text" class="form-control" id="nameCategoryIncome" placeholder="Название...">
            <div class="page-item-actions d-flex">
                <button type="button" class="btn btn-success" id="income-create">Создать</button>
                <button type="button" class="btn btn-danger" id="income-cancel">Отмена</button>
            </div>
        </div>
    </div>
